/* Header and Navigation */
body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}

.logo {
  font-weight: bold;
  font-size: 1.5em;
  transition: color 0.3s;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  color: black;
}

.nav-links li a:hover {
  color: red;
}

/* Main Section */
main {
  text-align: center;
}

#title {
  font-size: 3.5em;
}

img {
  width: 97%;
  height: 380px;
  border-radius: 5px;
}

/* Button inside image */
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  display: block;
}

.img-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e23427;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.img-btn:hover {
  background-color: #db1d10;
}

/* Dark mode styling */
.dark-mode {
  background-color: #141013;
  color: white;
}

.dark-mode header {
  background-color: #141013;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.dark-mode .nav-links li a {
  color: white;
}

.dark-mode .nav-links li a:hover {
  color: red;
}

#darkModeBtn {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode #darkModeBtn {
  background-color: #141013;
  color: white;
}
